* {
   font-family: sans-serif;
   font-size: 16px;
}

header {
   height: 50px;
   border-bottom: 1px solid gray;
   background-color: #F1F1F1;
}

.right {
	position: absolute;
   right: 0px;
}

header h1 {
   font-size: 1.5em;
   font-weight: bold;
   margin-left: 50px;
   line-height: 50px;
}

p.loginerror {
	color: red;
}

.formtable {
	width: 400px;
	padding: 10px;
	border: 1px solid blue;
}

.welcome {
	font-size: 1.2em;
	text-align: justify;
	padding: 10px 10px 20px 10px;
	border-bottom: 1px dotted gray;
}

.data {
	margin-left: 10px;
	color: blue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
   background-color:#fff;
}

table th	{
    background-color: black;
    color: white;
}

.valid {
	font-size: .7em;
	color: green;	
}

.error {
	font-size: .7em;
	color: red;	
}

footer {
	clear: both;
	height: 40px;
	border-top: 1px dotted gray;
	border-bottom: 1px dotted gray;
	margin-top: 10px;
}

footer p {
	line-height: 20px;
	margin-left: 50px;
	font-size: 0.7em;
	font-weight: bold;
}

footer a {
	font-size: inherit;
	color: black;
}

footer a:hover {
	color: #A32824;
}